@model IEnumerable<DS.UI.PrestadorDeServico.Models.EstatisticaFornecedorSemPrestarServicoPorMesViewModel>

@{
    ViewBag.Title = "Fornecedor sem prestar serviço no mês";
}

<h2>Fornecedor sem prestar serviço no mês</h2>

<table class="table">
    <tr>
        <th>
            Mês
        </th>
        <th>
            Fornecedor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeDoFornecedor)
        </td>               
    </tr>
}

</table>
